# MongoDB Configuration
# MONGO_URI=mongodb+srv://priyanshibansal663:DatabasePassword@cluster0.4ra8r.mongodb.net/finpayDb?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://subscription_db_user:L2a88fkkyJeGsUm1@cluster0.0tctoo3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=7426991303rahulsingh

# Security & Authentication
# Generate a secure key using: openssl rand -hex 32
JWT_SECRET_KEY=your-super-secret-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 hours

# Environment & Server
ENVIRONMENT=development
CORS_ORIGINS="*"
PORT=8000

NEXT_PUBLIC_API_URL=http://localhost:8000
